<!DOCTYPE html>
<!--suppress JSAnnotator -->
<html lang="ch-CN">
<head>
    <title><%= title %></title>
    <% include head.ejs %>
    <style>
        #picture img{width: 30%;display: inline-block;}
        .invoiceBox{display: none}
    </style>
</head>
<body class="layui-layout-body" style="padding: 15px;">
    <div class="layui-btn layui-btn-normal" id="addBtn">新增</div>
    <table class="layui-table" lay-data="{url:'/back/businessInfor', page:true, id:'menus', method:'post'}" lay-filter="menus">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:80, sort: true}">ID</th>
            <th lay-data="{field:'name'}">名称</th>
            <th lay-data="{field:'phone'}">电话</th>
            <th lay-data="{field:'address'}">地址</th>
            <th lay-data="{field:'distributionTime'}">配送时间</th>
            <th lay-data="{field:'distributionfee'}">配送费</th>
            <th lay-data="{field:'sendfee'}">起送费</th>
            <th lay-data="{field:'invoice'}">能否开发票</th>
            <th lay-data="{field:'invoice'}">能否开发票</th>
            <th lay-data="{width:250, toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>
    <form class="layui-form MainForm" style="display: none" id="addDeo">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入名称" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="number" name="phone" id="phone" required lay-verify="required" placeholder="请输入电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">店铺地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" id="address" required lay-verify="required" placeholder="请输入店铺地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">配送时间</label>
            <div class="layui-input-block">
                <input type="text" name="distributionTime" id="distributionTime" required lay-verify="required" placeholder="请输入名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">配送费</label>
            <div class="layui-input-block">
                <input type="number" name="distributionfee" id="distributionfee" required lay-verify="required" placeholder="请输入配送费" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">起送费</label>
            <div class="layui-input-block">
                <input type="number" name="sendfee" id="sendfee" required lay-verify="required" placeholder="请输入起送费" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">营业资质</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <ul id="picture"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否开具发票</label>
            <div class="layui-input-block">
                <input type="checkbox" lay-filter="invoice" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item invoiceBox">
            <label class="layui-form-label">最低金额</label>
            <div class="layui-input-block">
                <input type="number" name="invoice" id="invoice" class="layui-input">
            </div>
        </div>-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <input type="hidden" name="id" id="menuid">
        <input type="hidden" name="qualification" id="qualification">
    </form>
</body>
<% include foot.ejs %>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<script>
    const invoiceBox = false;
    //JavaScript代码区域
    layui.use(['element', 'table','layer','form','upload'], function () {
        const element = layui.element, table = layui.table, layer = layui.layer, form = layui.form, upload = layui.upload;
        table.on('tool(menus)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            const data = obj.data; //获得当前行数据
            const layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            const tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'detail'){ //查看
                //do somehing
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    $.ajax({
                        url:"menu/delete",
                        type:'POST',
                        dataType:'json',
                        data:{'id':data.id},
                        success:function(data) {
                            if(data.code == 200){
                                layer.msg(data.msg);
                            }
                        },
                        error:function (e) {
                            console.log(e)
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                $("#addDeo #name").val(data.name)
                $("#addDeo #menuid").val(data.id)
                layer.open({
                    type: 1,
                    content: $('#addDeo'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    area: '600px',
                    cancel:function (index, layero) {
                        layer.close(index)
                        $("#addDeo input").val('');
                        return false;
                    }
                });
            }
        });
        form.on('switch(invoice)', function(data){
            //console.log(data.elem); 得到checkbox原始DOM对象
            //console.log(data.value); //开关value值，也可以通过data.elem.value得到
            //console.log(data.othis); 得到美化后的DOM对象
            //console.log(data.elem.checked); //开关是否开启，true或者false
            if(data.elem.checked){
                $(".invoiceBox").show()
                $("#invoice").val(0);
            }else {
                $(".invoiceBox").hide();
                $("#invoice").val(-1);
            }
            invoiceBox = data.elem.checked;
        });
        //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(data.field)
            $.ajax({
                url:"businessInfor/add",
                type:'POST',
                dataType:'json',
                data:data.field,
                success:function(data) {
                    if(data.code == 200){
                        layer.msg(data.msg);
                        table.reload('menus', {
                            url: '/back/businessInfor'
                        });
                    }else {
                        layer.msg(data.msg);
                    }
                },
                error:function () {
                }
            });
            return false;
        });
        //选择图片后上传
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/file/uploading'
            ,done: function(res){
                //上传完毕回调
                console.log(res)
                $("#picture").append('<li><img src="/'+ res.data.file[0].path.substr(7)  +'"></li>');
                $("#qualification").val($("#qualification").val()+',/'+res.data.file[0].path.substr(7));
            },error: function(){
                //请求异常回调
            }
        });
        // 点击新增按钮
        $("#addBtn").click(function () {
            layer.open({
                type: 1,
                content: $('#addDeo'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                area: '600px'
            });
        })
    });
</script>
</html>
